<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    
    <main class="container p-4">
        <h1 class="display-4 text-center title mt-4">SAVE TEMPERATURE</h1>
        <div class="row">
  
            <div class="col-md-4 offset-md-4 my-auto">
  
                <div class="card">
                    <div class="card-body">
                          <!-- formulario ruta chain Post-->
                        <form action="/" method="POST">
                            <div class="form-group">
                                <!--- se accede a el input con id content-->
                                <!-- request form: content base de datos -->
                                <input type="number" name="temperature" placeholder="Temperature" step="0.01" class="form-control" autofocus>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>