<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css"
      rel="stylesheet"
    />
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
    <style>
      body {
        background: #c9d6ff;
        background: -webkit-linear-gradient(to right, #e2e2e2, #c9d6ff);
        background: linear-gradient(to right, #e2e2e2, #c9d6ff);
        color: #000;
      }

      .row {
        margin-left: 0px;
        margin-right: 0px;
        display: flex;
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <div class="card">
      <div class="card-header">
        <h1>Los patrones utilizados son los siguientes:</h1>
      </div>
      <div class="card-body">
        <section>
          <h3>Patrón MVC</h3>
          :
          <p>
            Se utilizó este patrón para separar la parte lógica y visual de la
            aplicación, en el caso de la vista se refiere a los .html que se
            encuentran en la carpeta templates, el modelo sería la información
            que se encuentra almacenada en las bases de datos Redis y MySQL; y
            el controlador sería el archivo app.py donde se implemente la lógica
            de la aplicación.
          </p>
        </section>
        <section>
          <h3>Patrón Singleton</h3>
          :
          <p>
            Se utilizó este patrón se utilizó para la instancia de la base de
            datos de tal manera que no debemos hacer varías conexiones la base
            de datos si no que para realizar operaciones a la base de datos
            únicamente hacemos un llamado a esa clase.
          </p>
        </section>
      </div>
    </div>
  </body>
</html>
